@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* line 5, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* *{
    box-sizing: border-box;
    overflow: hidden;
  } */
 /*  body{
	
    background-color: #171D2E;
    color: white;
    
 }  */
/* line 13, ../sass/connexion/_login.scss */
.titre {
  padding: 30px;
  font-size: 30px;
}

/* line 17, ../sass/connexion/_login.scss */
.connect {
  margin: 35px;
  padding: auto;
}

/* line 21, ../sass/connexion/_login.scss */
.contenu {
  background: #171D2E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* line 30, ../sass/connexion/_login.scss */
.texte {
  margin-top: -45px;
  font-size: 12px;
  text-align: center;
  margin-left: -7%;
}

/* line 37, ../sass/connexion/_login.scss */
a {
  color: #FFFFFF;
}

/* line 41, ../sass/connexion/_login.scss */
.form-style-8 {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #171D2E;
  margin: px auto;
}

/* line 50, ../sass/connexion/_login.scss */
.form-style-8 h2 {
  text-transform: uppercase;
  font-family: '', sans-serif;
  color: #5F9DFF;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  margin: -30px -30px 30px -30px;
}

/* line 60, ../sass/connexion/_login.scss */
.form-style-8 input[type="text"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  color: #707070;
  border-color: #707070;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

/* line 81, ../sass/connexion/_login.scss */
.form-style-8 textarea {
  resize: none;
  overflow: hidden;
}

/* line 85, ../sass/connexion/_login.scss */
.form-style-8 button[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 65px;
  margin-left: 30%;
  font-size: 14px;
  padding: 10px 22px;
  text-decoration: none;
}

/* line 101, ../sass/connexion/_login.scss */
.form-style-8 button[type="submit"]:hover,
.form-style-8 button[type="submit"]:hover {
  background: linear-gradient(to bottom, #5f9dff 5%, #5f9dff 100%);
  background-color: #5F9DFF;
}

/* line 3, ../sass/connexion/_responsable.scss */
.groupe3 {
  background-color: #233248;
  width: auto;
  height: 140px;
}

/* line 9, ../sass/connexion/_responsable.scss */
.ajout1 {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
  width: 124px;
  float: right;
  margin-top: -4%;
  text-align: center;
}

/* line 20, ../sass/connexion/_responsable.scss */
.filtre1 {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  width: 124px;
  float: right;
  margin-top: -4%;
  text-align: center;
  margin-right: 12%;
}

/* line 32, ../sass/connexion/_responsable.scss */
.container3 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* line 39, ../sass/connexion/_responsable.scss */
.nav {
  color: rgba(255, 255, 255, 0.9);
}

/* line 42, ../sass/connexion/_responsable.scss */
.image img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 58vh;
  margin: 0;
  padding: 0;
  width: 1298px;
}

/* line 50, ../sass/connexion/_responsable.scss */
.table thead {
  background-color: #F0F0F0;
}

/* line 54, ../sass/connexion/_responsable.scss */
.tableau {
  padding: 2%;
}

/* line 57, ../sass/connexion/_responsable.scss */
.titre3 {
  padding: 2%;
  font-size: 20px;
}

/* line 61, ../sass/connexion/_responsable.scss */
.bienvenu {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 23px;
  margin-top: 6%;
  margin-left: 3%;
}

/* line 69, ../sass/connexion/_responsable.scss */
.pavv {
  display: flex;
  padding: 2%;
  margin-left: 6%;
}

/*DÉBUT RESET*/
/* line 3, ../sass/menu/menu.scss */
html,
body,
div,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 17, ../sass/menu/menu.scss */
body {
  line-height: 1;
}

/* line 21, ../sass/menu/menu.scss */
ul {
  list-style: none;
}

/* 
a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:active {
  color: #000;
  text-decoration: none;
} */
/*FIN RESET*/
/* line 48, ../sass/menu/menu.scss */
header {
  width: auto;
  background-color: #171D2E;
  height: 83px;
}

/* line 53, ../sass/menu/menu.scss */
.menuContainer {
  background-color: #171D2E;
  font-size: 120%;
  width: 70%;
  max-width: 482px;
  margin: 2%;
  line-height: 1.05;
  float: left;
}

/* line 64, ../sass/menu/menu.scss */
.menuContainer > ul {
  display: flex;
  justify-content: space-between;
}

/* line 70, ../sass/menu/menu.scss */
.menuContainer > ul > li {
  position: relative;
  cursor: default;
}

/* line 76, ../sass/menu/menu.scss */
.menuContainer > ul > li > ul {
  background-color: #171D2E;
  border-radius: 3% 3% 3% 3%;
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
  width: 300px;
  height: 85	px;
  opacity: 0;
  margin-top: 2px;
  margin: 0;
  margin: 15px 0 0 0;
  padding: 0 0 1% 0;
  text-align: center;
  /* position: absolute;
  background-color: #167FBD;
  z-index: 500;
  margin: 0;
  width: 200px;
  margin: 15px 0 0 0;
  padding: 0 0 1% 0; */
  /*
  Transition appliquée à la sortie du survol :
	visibility est animée en 0 seconde après un délai de 200ms correspondant à la durée de la transition appliquée à opacity.
	Autrement dit, lorsque le survol prend fin, on passe l'opacity à 0 en 200ms puis on passe la visibility à hidden.
  */
  transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
}

/* line 107, ../sass/menu/menu.scss */
.menuContainer > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  /*
  Transition appliquée à l'entrée du survol :
	On anime l'opacity de 0 à 1 en 500ms.
  */
  transition: opacity .5s ease-in-out;
}

/* line 117, ../sass/menu/menu.scss */
.menuContainer > ul li > a {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* line 123, ../sass/menu/menu.scss */
.menuContainer > ul li > a::before {
  content: attr(name);
  color: red;
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

/* line 132, ../sass/menu/menu.scss */
.menuContainer > ul li > a:hover::before {
  width: 100%;
}

/* line 136, ../sass/menu/menu.scss */
.menuContainer > ul li > a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 1px;
  height: 1px;
  background: red;
  box-shadow: 0px 0px 8px 3px red;
  transition: left 0.3s ease-in-out;
}

/* line 148, ../sass/menu/menu.scss */
.menuContainer > ul li > a:hover::after {
  left: calc(100% + 10px);
}

/* line 152, ../sass/menu/menu.scss */
#menuHamburger {
  display: none;
}

/* line 155, ../sass/menu/menu.scss */
.menuContainer > label {
  display: none;
  cursor: pointer;
  vertical-align: top;
  background: gray;
  width: 39px;
  height: 39px;
  border-radius: 5px;
}

/* line 164, ../sass/menu/menu.scss */
.menuContainer > label::before {
  content: "";
  margin: 6px auto;
  width: 25px;
  height: 5px;
  background: #000;
  box-shadow: 0 11px 0 0 #000, 0 22px 0 0 #000;
}

/* line 174, ../sass/menu/menu.scss */
.menuContainer > label::after {
  display: none;
  content: "\2716";
  font-weight: 900;
  margin: auto;
  font-size: 28px;
}

/* line 181, ../sass/menu/menu.scss */
#menuHamburger:checked + ul {
  margin-left: 0px;
}

/* line 184, ../sass/menu/menu.scss */
#menuHamburger:checked ~ label::after {
  display: block;
}

/* line 187, ../sass/menu/menu.scss */
#menuHamburger:checked ~ label::before {
  display: none;
}

/* line 190, ../sass/menu/menu.scss */
.deconnexion {
  border-width: 23%;
  float: right;
  border: 11px solid white;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  margin-top: 2%;
  margin-right: 4%;
}

/* line 200, ../sass/menu/menu.scss */
.deconnexion1 {
  border-width: 23%;
  float: right;
  border-radius: 3px 3px 3px 3px;
  margin-top: 2%;
  margin-right: 1%;
}

@media screen and (max-width: 640px) {
  /*On annule le centrage du container*/
  /* line 210, ../sass/menu/menu.scss */
  .menuContainer {
    width: auto;
    margin: 0;
    outline: none;
    background: none;
    padding: 0;
  }

  /*Menu Principal*/
  /* line 219, ../sass/menu/menu.scss */
  .menuContainer > ul {
    /*Pour assurer l'alignement avec le label*/
    display: inline-block;
    /*On intègre le padding dans le calcul des dimensions de l'élément*/
    box-sizing: border-box;
    /*On fixe sa largeur*/
    width: 260px;
    /*On le positionne en passant son margin-left à moins sa largeur*/
    margin: 0 0 0 -260px;
    /*On agrémente l'apparence*/
    padding: 10px;
    background: #ddd;
    border-radius: 0 0px 10px 0;
    /*On pose une animation sur son margin-left 
    lequel est passé à zéro lorsqu'on clique sur le label*/
    transition: margin-left 0.5s ease-in-out;
  }

  /* line 237, ../sass/menu/menu.scss */
  .menuContainer > label {
    display: none;
    cursor: pointer;
    vertical-align: top;
    background: gray;
    width: 54px;
    height: 44px;
    border-radius: 5px;
  }

  /*Sous-menus*/
  /* line 247, ../sass/menu/menu.scss */
  .menuContainer > ul > li > ul {
    /*On annule le positionnement en absolute*/
    position: static;
    /*On asure son affichage*/
    visibility: visible;
    opacity: 1;
    /*On décale pour faire joli*/
    margin-left: 10px;
    /*On bloque toutes les transitions*/
    transition: none !important;
  }

  /* line 258, ../sass/menu/menu.scss */
  .menuContainer > label {
    display: inline-flex;
  }
}
/* .contenu2 {
    
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
} */
/* .contenu3{
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* line 13, ../sass/etudiant/_liste.etudiant.scss */
.nav {
  color: rgba(255, 255, 255, 0.9);
}

/* line 16, ../sass/etudiant/_liste.etudiant.scss */
.groupe3 {
  background-color: #233248;
  width: auto;
  height: 140px;
}

/* .groupe3 img {
    margin: 0;
    padding: 0;
    width: 1298px;
  } */
/* line 26, ../sass/etudiant/_liste.etudiant.scss */
.tables {
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: transparent;
}

/* line 32, ../sass/etudiant/_liste.etudiant.scss */
.text12 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 15px;
  margin-top: 1%;
  margin-left: 3%;
}

/* line 40, ../sass/etudiant/_liste.etudiant.scss */
.outline img {
  position: absolute;
  z-index: 2;
  width: 23px;
  margin-top: -3%;
  margin-left: -22px;
}

/* line 47, ../sass/etudiant/_liste.etudiant.scss */
.text {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 23px;
  margin-top: 5%;
  margin-left: 3%;
}

/* line 55, ../sass/etudiant/_liste.etudiant.scss */
.text11 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 15px;
  margin-top: 8%;
  margin-left: 3%;
}

/* line 63, ../sass/etudiant/_liste.etudiant.scss */
.tables thead {
  background-color: #F0F0F0;
}

/* line 66, ../sass/etudiant/_liste.etudiant.scss */
.table {
  margin-bottom: 1rem;
  background-color: transparent;
}

/* line 71, ../sass/etudiant/_liste.etudiant.scss */
.etud {
  font-size: 20px;
  padding: 1%;
  color: #171D2E;
  margin-left: 2%;
}

/* line 78, ../sass/etudiant/_liste.etudiant.scss */
p .etu {
  font-family: Arial, open, sans-serif;
  font-size: 0.9em;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

/* line 86, ../sass/etudiant/_liste.etudiant.scss */
.titr {
  padding: 2%;
}

/* line 91, ../sass/etudiant/_liste.etudiant.scss */
.ajout {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
  width: 140px;
  float: right;
  margin-top: -3%;
  text-align: center;
  margin-right: 5%;
}

/* line 103, ../sass/etudiant/_liste.etudiant.scss */
.filtre {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  width: 124px;
  float: right;
  margin-top: -3%;
  text-align: center;
  margin-right: 12%;
}

/* line 115, ../sass/etudiant/_liste.etudiant.scss */
.filtr1 {
  float: right;
  margin-top: -3%;
  margin-right: 18%;
}

/* line 121, ../sass/etudiant/_liste.etudiant.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 37px;
}

/* line 126, ../sass/etudiant/_liste.etudiant.scss */
.modif {
  border: 8px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 134, ../sass/etudiant/_liste.etudiant.scss */
.filt {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 36px;
  width: 32%;
}

/* line 146, ../sass/etudiant/_liste.etudiant.scss */
.radio {
  margin-left: 4px;
}

/* line 149, ../sass/etudiant/_liste.etudiant.scss */
.annonce {
  padding: 2%;
  margin-left: 2%;
}

/* line 157, ../sass/etudiant/_liste.etudiant.scss */
:root {
  --sucess-color: #2ecc71;
  --error-color: #e74c3c;
}

/* body{
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'open sans',sans-serif;
} */
/* .container2{
    margin-left: auto;
    margin-right: auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      width: 70%;
      margin-top: 5%;
      height: 600PX;
  } */
/* line 182, ../sass/etudiant/_liste.etudiant.scss */
h2 {
  text-align: center;
  margin: 0 0 20px;
}

/* line 187, ../sass/etudiant/_liste.etudiant.scss */
.form {
  padding: 0px 44px;
}

/* line 193, ../sass/etudiant/_liste.etudiant.scss */
.form-controle {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

/* line 199, ../sass/etudiant/_liste.etudiant.scss */
.form-controle label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  margin-left: 21px;
}

/* line 206, ../sass/etudiant/_liste.etudiant.scss */
.form-controle .email {
  width: 818px;
}

/* line 209, ../sass/etudiant/_liste.etudiant.scss */
.select {
  width: 819px;
  margin-left: 6px;
  padding: 13px;
}

/* line 214, ../sass/etudiant/_liste.etudiant.scss */
.form-controle select:focus {
  outline: 0;
  border-color: white;
  background-color: white;
}

/* line 219, ../sass/etudiant/_liste.etudiant.scss */
.form-controle input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 400px;
  padding: 13px;
  font-size: 14px;
  margin-left: 21px;
}

/* line 229, ../sass/etudiant/_liste.etudiant.scss */
.form-controle input:focus {
  outline: 0;
  border-color: #777;
}

/* line 234, ../sass/etudiant/_liste.etudiant.scss */
.form-controle.success input {
  border-color: var(--success-color);
}

/* line 238, ../sass/etudiant/_liste.etudiant.scss */
.form-controle.error input {
  border-color: var(--error-color);
}

/* .form-controle small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
} */
/* line 250, ../sass/etudiant/_liste.etudiant.scss */
.form-controle.error small {
  visibility: visible;
}

/* .form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
  } */
/* line 266, ../sass/etudiant/_liste.etudiant.scss */
.ajouter {
  border: 0.5px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 274, ../sass/etudiant/_liste.etudiant.scss */
.tt {
  display: flex;
  float: right;
  margin-right: 35%;
}

/* line 279, ../sass/etudiant/_liste.etudiant.scss */
.a {
  margin-right: 11%;
}

/* line 282, ../sass/etudiant/_liste.etudiant.scss */
.annuler {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 40px;
  /*         text-align: center;*/
}

/* line 292, ../sass/etudiant/_liste.etudiant.scss */
.nav-link {
  display: block;
  padding: 0.5rem 2rem;
  text-align: center;
}

/* line 2, ../sass/chambre/_chambre.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/chambre/_chambre.scss */
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 11, ../sass/chambre/_chambre.scss */
.chambre {
  display: flex;
  padding: 3%;
}

/* line 20, ../sass/chambre/_chambre.scss */
.chambre > p {
  font-size: 21px;
}

/* line 24, ../sass/chambre/_chambre.scss */
.ajou {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 35, ../sass/chambre/_chambre.scss */
.modif1 {
  border: 8px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
  margin-right: 2%;
}

/* line 45, ../sass/chambre/_chambre.scss */
.filtr {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
}

/* line 54, ../sass/chambre/_chambre.scss */
.filt1 {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 36px;
  width: 119%;
}

/* line 66, ../sass/chambre/_chambre.scss */
.select1 {
  width: 819px;
  margin-left: 23px;
  padding: 13px;
}

/* line 72, ../sass/chambre/_chambre.scss */
.text122 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 15px;
  margin-top: 1%;
  margin-left: -37%;
}

/* line 1, ../sass/pavillon/_pavillon.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/pavillon/_pavillon.scss */
.filt2 {
  float: right;
  margin-right: 12%;
}

/* line 12, ../sass/pavillon/_pavillon.scss */
.pav {
  display: flex;
  justify-content: center;
  padding: 2%;
}

/* line 20, ../sass/pavillon/_pavillon.scss */
.ajo {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 28, ../sass/pavillon/_pavillon.scss */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* line 36, ../sass/pavillon/_pavillon.scss */
.fil {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 41px;
  margin-top: 9px;
}

/* line 46, ../sass/pavillon/_pavillon.scss */
.pav1 {
  margin-top: 19px;
  font-size: 21px;
}

/* line 50, ../sass/pavillon/_pavillon.scss */
.pav2 {
  display: flex;
}

/* line 53, ../sass/pavillon/_pavillon.scss */
.btne {
  margin-left: 39%;
}

/* line 57, ../sass/pavillon/_pavillon.scss */
.text124 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 15px;
  margin-top: 1%;
  margin-left: -37%;
}

/* line 28, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 32, ../sass/screen.scss */
body {
  background: white;
}
