/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* line 5, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* *{
    box-sizing: border-box;
    overflow: hidden;
  } */
 /*  body{
	
    background-color: #171D2E;
    color: white;
    
 }  */
/* line 13, ../sass/connexion/_login.scss */
.titre {
  padding: 30px;
  font-size: 30px;
}

/* line 17, ../sass/connexion/_login.scss */
.connect {
  margin: 35px;
  padding: auto;
}

/* line 21, ../sass/connexion/_login.scss */
.contenu {
  background: #171D2E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* line 30, ../sass/connexion/_login.scss */
.texte {
  margin-top: -45px;
  font-size: 12px;
  text-align: center;
  margin-left: -7%;
}

/* line 37, ../sass/connexion/_login.scss */
a {
  color: #FFFFFF;
}

/* line 41, ../sass/connexion/_login.scss */
.form-style-8 {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #171D2E;
  margin: px auto;
}

/* line 50, ../sass/connexion/_login.scss */
.form-style-8 h2 {
  text-transform: uppercase;
  font-family: '', sans-serif;
  color: #5F9DFF;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  margin: -30px -30px 30px -30px;
}

/* line 60, ../sass/connexion/_login.scss */
.form-style-8 input[type="text"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  color: #707070;
  border-color: #707070;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

/* line 81, ../sass/connexion/_login.scss */
.form-style-8 textarea {
  resize: none;
  overflow: hidden;
}

/* line 85, ../sass/connexion/_login.scss */
.form-style-8 button[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 65px;
  margin-left: 30%;
  font-size: 14px;
  padding: 10px 22px;
  text-decoration: none;
}

/* line 101, ../sass/connexion/_login.scss */
.form-style-8 button[type="submit"]:hover,
.form-style-8 button[type="submit"]:hover {
  background: linear-gradient(to bottom, #5f9dff 5%, #5f9dff 100%);
  background-color: #5F9DFF;
}

/* line 3, ../sass/connexion/_responsable.scss */
.groupe3 {
  background-color: #233248;
  width: auto;
  height: 140px;
}

/* line 9, ../sass/connexion/_responsable.scss */
.ajout1 {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
  width: 124px;
  float: right;
  margin-top: -4%;
  text-align: center;
}

/* line 20, ../sass/connexion/_responsable.scss */
.filtre1 {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  width: 124px;
  float: right;
  margin-top: -4%;
  text-align: center;
  margin-right: 12%;
}

/* line 32, ../sass/connexion/_responsable.scss */
.container3 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* line 39, ../sass/connexion/_responsable.scss */
.nav {
  color: rgba(255, 255, 255, 0.9);
}

/* line 42, ../sass/connexion/_responsable.scss */
.image img {
  margin: 0;
  padding: 0;
  width: 1310px;
}

/* line 47, ../sass/connexion/_responsable.scss */
.table thead {
  background-color: #F0F0F0;
}

/* line 51, ../sass/connexion/_responsable.scss */
.tableau {
  padding: 2%;
}

/* line 54, ../sass/connexion/_responsable.scss */
.titre3 {
  padding: 2%;
  font-size: 20px;
}

/* line 58, ../sass/connexion/_responsable.scss */
.bienvenu {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 23px;
  margin-top: 10%;
  margin-left: 3%;
}

/* line 6, ../sass/menu/menu.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("https://example.com/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("https://example.com/MaterialIcons-Regular.woff2") format("woff2"), url("https://example.com/MaterialIcons-Regular.woff") format("woff"), url("https://example.com/MaterialIcons-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'icomoon';
  src: url("http://www.icutpeople.com/icomoon/fonts/icomoon.eot");
  src: url("http://www.icutpeople.com/icomoon/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("http://www.icutpeople.com/icomoon/fonts/icomoon.svg#icomoon") format("svg"), url("http://www.icutpeople.com/icomoon/fonts/icomoon.woff") format("woff"), url("http://www.icutpeople.com/icomoon/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 32, ../sass/menu/menu.scss */
body {
  margin: 0px auto;
}

/* line 35, ../sass/menu/menu.scss */
h1 {
  font-family: Arial, open, sans-serif;
  font-size: 2em;
  color: #125E8B;
  text-align: center;
  margin: 100px 0 10px 0;
  letter-spacing: 2px;
}

/* line 43, ../sass/menu/menu.scss */
.device:after {
  margin: 0 auto;
  content: "Widescreen";
  font-family: Arial, open, sans-serif;
  font-size: 1.4em;
  color: #000;
  text-align: center;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 43, ../sass/menu/menu.scss */
  .device:after {
    content: "Tablets";
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 43, ../sass/menu/menu.scss */
  .device:after {
    content: "Handhelds";
  }
}

/* p {
	font-family: $font-family;
	font-size: 0.9em;
	color: rgb(255, 255, 255);
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 15px;
} */
/* line 66, ../sass/menu/menu.scss */
header {
  width: 100%;
  min-width: 280px;
  height: auto;
  background: #171D2E;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 66, ../sass/menu/menu.scss */
  header {
    height: auto;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 66, ../sass/menu/menu.scss */
  header {
    width: 100%;
    height: auto;
  }
}

/* line 81, ../sass/menu/menu.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 86, ../sass/menu/menu.scss */
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
  background-color: #171D2E;
  background: #314055 0% 0% no-repeat padding-box;
  height: 46px;
  border-color: #314055 0% 0% no-repeat padding-box;
}

/* line 94, ../sass/menu/menu.scss */
.search {
  margin-left: 60%;
}

/* line 99, ../sass/menu/menu.scss */
.deconnexion {
  border-width: 23%;
  float: right;
  border: 11px solid white;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  margin-top: 3%;
  margin-right: 4%;
}

/* line 109, ../sass/menu/menu.scss */
nav {
  width: 100%;
  /* 630 */
  height: auto;
  margin: 0px 0 0 0;
  padding: 0 0 20px 0;
  z-index: 100;
  background: transparent;
}
@media only screen and (min-width: 860px) and (max-width: 1824px) {
  /* line 109, ../sass/menu/menu.scss */
  nav {
    display: block !important;
  }
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 109, ../sass/menu/menu.scss */
  nav {
    width: 100%;
    display: none;
    height: auto;
    margin: 0;
    padding: 1% 4% 2% 4%;
    background: #125E8B;
    position: relative;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 109, ../sass/menu/menu.scss */
  nav {
    width: 100%;
    height: 35px;
    display: none;
    height: auto;
    margin: 0;
    padding: 2% 4% 2% 4%;
    background: #125E8B;
    position: relative;
  }
}
/* line 140, ../sass/menu/menu.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 144, ../sass/menu/menu.scss */
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 3% 0 0 2%;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 144, ../sass/menu/menu.scss */
  nav ul li {
    padding: 2% 2% 0 2%;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 144, ../sass/menu/menu.scss */
  nav ul li {
    padding: 2% 2% 0 2%;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
  }
}
/* line 164, ../sass/menu/menu.scss */
nav ul li a {
  font-family: Arial, open, sans-serif;
  font-size: 1em;
  margin-left: 10%;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 0 15px 0;
  outline: none;
  letter-spacing: 3px;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 164, ../sass/menu/menu.scss */
  nav ul li a {
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 3px;
    padding: 0 4% 1% 4%;
    border-bottom: 1px solid #167FBD;
    display: block;
    position: relative;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 164, ../sass/menu/menu.scss */
  nav ul li a {
    font-size: 1.1em;
    color: #fff;
    letter-spacing: 2px;
    padding: 0 4% 1% 4%;
    border-bottom: 1px solid #167FBD;
    display: block;
    position: relative;
    text-align: left;
  }
}
/* line 194, ../sass/menu/menu.scss */
nav ul li a:hover {
  text-decoration: none;
  color: #4B9AC8;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 194, ../sass/menu/menu.scss */
  nav ul li a:hover {
    color: #fff;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 194, ../sass/menu/menu.scss */
  nav ul li a:hover {
    color: #fff;
  }
}
/* line 207, ../sass/menu/menu.scss */
nav ul li ul {
  display: none;
}
@media only screen and (min-width: 860px) and (max-width: 1824px) {
  /* line 207, ../sass/menu/menu.scss */
  nav ul li ul {
    display: none !important;
  }
}
/* line 214, ../sass/menu/menu.scss */
nav ul li:hover ul {
  display: block;
  position: absolute;
  background-color: #167FBD;
  z-index: 500;
  margin: 0;
  width: 200px;
  margin: 15px 0 0 0;
  padding: 0 0 1% 0;
}
@media only screen and (min-width: 860px) and (max-width: 1824px) {
  /* line 214, ../sass/menu/menu.scss */
  nav ul li:hover ul {
    display: block !important;
  }
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 214, ../sass/menu/menu.scss */
  nav ul li:hover ul {
    display: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 214, ../sass/menu/menu.scss */
  nav ul li:hover ul {
    display: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 1;
  }
}
/* line 244, ../sass/menu/menu.scss */
nav ul li ul li {
  margin: 0;
  float: none;
  display: block;
  text-align: left;
  background-color: #ffffff;
}
/* line 251, ../sass/menu/menu.scss */
nav ul li ul li a {
  font-size: 0.7em;
  color: black;
  outline: none;
  text-align: left;
  padding: 4% 4%;
  outline: none;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 251, ../sass/menu/menu.scss */
  nav ul li ul li a {
    font-family: Arial, open, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    padding: 0 4% 1% 0%;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 251, ../sass/menu/menu.scss */
  nav ul li ul li a {
    font-family: Arial, open, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    padding: 0 4% 2% 2%;
    margin-left: 2.5%;
    border: none;
  }
}
/* line 275, ../sass/menu/menu.scss */
nav ul li ul li a:hover {
  color: #89CAF1;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 275, ../sass/menu/menu.scss */
  nav ul li ul li a:hover {
    color: #fff;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 275, ../sass/menu/menu.scss */
  nav ul li ul li a:hover {
    color: #fff;
  }
}

/* line 291, ../sass/menu/menu.scss */
.plus:after {
  display: none;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 291, ../sass/menu/menu.scss */
  .plus:after {
    display: inline;
    content: "+";
    font-family: 'icomoon';
    font-size: 0.5em;
    padding-left: 1.2%;
    text-transform: none;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 291, ../sass/menu/menu.scss */
  .plus:after {
    display: inline;
    content: "+";
    font-family: 'icomoon';
    font-size: 0.5em;
    padding-right: 1.2%;
    text-transform: none;
    float: right;
  }
}

/* line 311, ../sass/menu/menu.scss */
.minus:after {
  display: none;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 311, ../sass/menu/menu.scss */
  .minus:after {
    display: inline;
    content: "-";
    font-family: 'icomoon';
    font-size-size: 0.5em;
    padding-left: 1.5%;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 311, ../sass/menu/menu.scss */
  .minus:after {
    display: inline;
    content: "-";
    font-family: 'icomoon';
    font-size-size: 0.5em;
    padding-right: 1.5%;
    float: right;
  }
}

/* line 329, ../sass/menu/menu.scss */
a.navdrop:link, a.navdrop:active, a.navdrop:visited {
  font-family: 'icomoon';
  color: #fff;
  background: #35819B;
  padding: 8px 8px 5px 8px;
  font-size: 1em;
  text-decoration: none;
  outline: none;
  font-weight: normal;
  display: none;
  float: right;
  margin: 15px 20px 20px 0;
  border: 1px solid #185970;
  background: #35819B;
  background: -moz-linear-gradient(top, #2F6B7F, #35819B);
  background: -webkit-linear-gradient(top, #2F6B7F, #35819B);
  background: -o-linear-gradient(top, #2F6B7F, #35819B);
  background: -ms-linear-gradient(top, #2F6B7F, #35819B);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
@media only screen and (min-width: 280px) and (max-width: 860px) {
  /* line 329, ../sass/menu/menu.scss */
  a.navdrop:link, a.navdrop:active, a.navdrop:visited {
    display: inline;
  }
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 329, ../sass/menu/menu.scss */
  a.navdrop:link, a.navdrop:active, a.navdrop:visited {
    display: inline;
  }
}

/* line 353, ../sass/menu/menu.scss */
.navdrop:before {
  content: "%";
  font-family: 'icomoon';
  font-weight: normal;
}

/* line 358, ../sass/menu/menu.scss */
.navdrop.close:before {
  content: "&";
  font-family: 'icomoon';
  font-weight: normal;
}

/* line 363, ../sass/menu/menu.scss */
.page-wrap {
  width: 100%;
  /* 960 */
  min-width: 280px;
  height: auto;
  background: #171D2E;
  margin: 0 auto;
  padding: 0 0 20px 0;
}
@media only screen and (min-width: 280px) and (max-width: 280px) {
  /* line 363, ../sass/menu/menu.scss */
  .page-wrap {
    width: 100%;
  }
}

/* line 374, ../sass/menu/menu.scss */
.page-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* :root{
    --hauteur-menu: 60px;
  }

/*   label, #toggle
{
    display: none;
}

 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .nav-bar 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .nav-bar a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
 
    #toggle:checked + .nav-bar {
        display: flex;
    } 

  * {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
   
    
    
  }
 
  nav {
    background-color: #171D2E;
    width: 100%;
    font-size: 15px;
    position: sticky;
    top: 0;
    height: 70px;
  }
  nav > ul {
    display: flex;
    text-align: center;
/*     box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
     height: var(--hauteur-menu);
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: #171D2E;
    position: relative;
    height: 100%;
    /* flex: 1; 
    
  }
  nav > ul > li {
    background-color: #171D2E;
    position: relative;
    height: 100%;
    flex: 1;
  }
  nav > ul > li > a {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -30%);
  }
  
  li a {
    text-decoration: none;
    color: #d3cdcdef;
  }
  .sous-menu li a {
    text-decoration: none;
    color: #000000ef;
  }
  .menu-deroulant > a:after{
    font-size: 10px;
    margin-left: 10px;
    display: inline-block;
  }
  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    padding-right: 13px;
    padding-left: 10px;
  }
  .menu-deroulant > li{
      padding: 0;
  }
  
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 2px;
    width: 100%;
    align-items: center;
    display: flexbox;    

  }
  nav > ul > li:hover > a{
    color: #2169EC;
  }
  .sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
  }
  
  .sous-menu > li:hover > a {
    color: white;
  }
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }

  .button {
    background-color: #ffffff;
    border: none;
    color: #171D2E;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 7px 111px;
    cursor: pointer;
    border-radius: 6px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #171D2E;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 36%;
  }
  .form-control::placeholder {
    outline: 0;
    color: #6c757d;
    opacity: 1;
    background-color: #171D2E;
    background: #314055 0% 0% no-repeat padding-box;
    height: 48px;
    border-color: #314055 0% 0% no-repeat padding-box;
  }
  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 3rem;
  }
   */
/* .contenu2 {
    
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
} */
/* .contenu3{
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* line 13, ../sass/etudiant/_liste.etudiant.scss */
.nav {
  color: rgba(255, 255, 255, 0.9);
}

/* line 16, ../sass/etudiant/_liste.etudiant.scss */
.groupe3 {
  background-color: #233248;
  width: auto;
  height: 140px;
}

/* .groupe3 img {
    margin: 0;
    padding: 0;
    width: 1298px;
  } */
/* line 26, ../sass/etudiant/_liste.etudiant.scss */
.table {
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: transparent;
}

/* line 32, ../sass/etudiant/_liste.etudiant.scss */
.text12 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 15px;
  margin-top: 1%;
  margin-left: 3%;
}

/* line 40, ../sass/etudiant/_liste.etudiant.scss */
.outline img {
  position: absolute;
  z-index: 2;
  width: 23px;
  margin-top: -3%;
  margin-left: -22px;
}

/* line 47, ../sass/etudiant/_liste.etudiant.scss */
.text {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 23px;
  margin-top: 5%;
  margin-left: 3%;
}

/* line 55, ../sass/etudiant/_liste.etudiant.scss */
.text11 {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 15px;
  margin-top: 8%;
  margin-left: 3%;
}

/* line 63, ../sass/etudiant/_liste.etudiant.scss */
.table thead {
  background-color: #F0F0F0;
}

/* line 66, ../sass/etudiant/_liste.etudiant.scss */
.etud {
  font-size: 20px;
  padding: 1%;
  color: #171D2E;
  margin-left: 2%;
}

/* line 73, ../sass/etudiant/_liste.etudiant.scss */
p .etu {
  font-family: Arial, open, sans-serif;
  font-size: 0.9em;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

/* line 81, ../sass/etudiant/_liste.etudiant.scss */
.titr {
  padding: 2%;
}

/* line 86, ../sass/etudiant/_liste.etudiant.scss */
.ajout {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
  width: 140px;
  float: right;
  margin-top: -3%;
  text-align: center;
}

/* line 97, ../sass/etudiant/_liste.etudiant.scss */
.filtre {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  width: 124px;
  float: right;
  margin-top: -3%;
  text-align: center;
  margin-right: 12%;
}

/* line 109, ../sass/etudiant/_liste.etudiant.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 37px;
}

/* line 114, ../sass/etudiant/_liste.etudiant.scss */
.modif {
  border: 8px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 122, ../sass/etudiant/_liste.etudiant.scss */
.filt {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 36px;
  width: 32%;
}

/* line 134, ../sass/etudiant/_liste.etudiant.scss */
.radio {
  margin-left: 4px;
}

/* line 137, ../sass/etudiant/_liste.etudiant.scss */
.annonce {
  padding: 2%;
  margin-left: 2%;
}

/* line 145, ../sass/etudiant/_liste.etudiant.scss */
:root {
  --sucess-color: #2ecc71;
  --error-color: #e74c3c;
}

/* body{
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'open sans',sans-serif;
} */
/* .container2{
    margin-left: auto;
    margin-right: auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      width: 70%;
      margin-top: 5%;
      height: 600PX;
  } */
/* line 170, ../sass/etudiant/_liste.etudiant.scss */
h2 {
  text-align: center;
  margin: 0 0 20px;
}

/* line 175, ../sass/etudiant/_liste.etudiant.scss */
.form {
  padding: 0px 44px;
}

/* line 181, ../sass/etudiant/_liste.etudiant.scss */
.form-controle {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

/* line 187, ../sass/etudiant/_liste.etudiant.scss */
.form-controle label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  margin-left: 21px;
}

/* line 194, ../sass/etudiant/_liste.etudiant.scss */
.form-controle .email {
  width: 818px;
}

/* line 197, ../sass/etudiant/_liste.etudiant.scss */
.select {
  width: 819px;
  margin-left: 6px;
  padding: 13px;
}

/* line 202, ../sass/etudiant/_liste.etudiant.scss */
.form-controle select:focus {
  outline: 0;
  border-color: white;
  background-color: white;
}

/* line 207, ../sass/etudiant/_liste.etudiant.scss */
.form-controle input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 400px;
  padding: 13px;
  font-size: 14px;
  margin-left: 21px;
}

/* line 217, ../sass/etudiant/_liste.etudiant.scss */
.form-controle input:focus {
  outline: 0;
  border-color: #777;
}

/* line 222, ../sass/etudiant/_liste.etudiant.scss */
.form-controle.success input {
  border-color: var(--success-color);
}

/* line 226, ../sass/etudiant/_liste.etudiant.scss */
.form-controle.error input {
  border-color: var(--error-color);
}

/* .form-controle small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
} */
/* line 238, ../sass/etudiant/_liste.etudiant.scss */
.form-controle.error small {
  visibility: visible;
}

/* .form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
  } */
/* line 254, ../sass/etudiant/_liste.etudiant.scss */
.ajouter {
  border: 0.5px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 262, ../sass/etudiant/_liste.etudiant.scss */
.tt {
  display: flex;
  float: right;
  margin-right: 35%;
}

/* line 267, ../sass/etudiant/_liste.etudiant.scss */
.a {
  margin-right: 11%;
}

/* line 270, ../sass/etudiant/_liste.etudiant.scss */
.annuler {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 40px;
  /*         text-align: center;*/
}

/* line 280, ../sass/etudiant/_liste.etudiant.scss */
.nav-link {
  display: block;
  padding: 0.5rem 2rem;
  text-align: center;
}

/* line 2, ../sass/chambre/_chambre.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/chambre/_chambre.scss */
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 11, ../sass/chambre/_chambre.scss */
.chambre {
  display: flex;
  padding: 3%;
}

/* line 20, ../sass/chambre/_chambre.scss */
.chambre > p {
  font-size: 21px;
}

/* line 24, ../sass/chambre/_chambre.scss */
.ajou {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 36, ../sass/chambre/_chambre.scss */
.filtr {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
}

/* line 47, ../sass/chambre/_chambre.scss */
.select1 {
  width: 819px;
  margin-left: 23px;
  padding: 13px;
}

/* line 1, ../sass/pavillon/_pavillon.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/pavillon/_pavillon.scss */
.pav {
  display: flex;
  justify-content: center;
  padding: 2%;
}

/* line 15, ../sass/pavillon/_pavillon.scss */
.ajo {
  border: 1px solid #171D2E;
  background-color: #171D2E;
  color: white;
  border-radius: 3px 3px 3px 3px;
}

/* line 23, ../sass/pavillon/_pavillon.scss */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* line 31, ../sass/pavillon/_pavillon.scss */
.fil {
  border: 1px solid #171D2E;
  background-color: white;
  color: #171D2E;
  border-radius: 3px 3px 3px 3px;
  height: 41px;
  margin-top: 9px;
}

/* line 41, ../sass/pavillon/_pavillon.scss */
.pav1 {
  margin-top: 19px;
  font-size: 21px;
}

/* line 45, ../sass/pavillon/_pavillon.scss */
.pav2 {
  display: flex;
}

/* line 28, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 32, ../sass/screen.scss */
body {
  background: white;
}
